.log {
   
    background-image: url(emg6.jpg); 
     font-family: cursive;
     color: aliceblue;
     background-size:   cover ;

 }
 
 form {
     width: 450px;
     height: 550px;
     padding: 0px 50px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     box-sizing: border-box;
     background-color: rgba(65, 67, 69, 0.5);
     border-radius: 15px;
 }
 
 h2 {
     text-align: center;
     font-weight: 800;
     margin-top: 50px;
 }
 
 input {
     width: 100%;
     margin: 10px 0px;
     background: transparent;
     border: none;
     outline: none;
     height: 40px;
     border-bottom: 1px solid #fff;
     color: #fff;
     font-size: 16px;
 }
 
 button {
     width: 100%;
     border: none;
     outline: none;
     background-color: rgb(13, 64, 78);
     color: #fff;
     height: 40px;
     border-radius: 15px;
     font-size: 20px;
     font-weight: 500;
     cursor: pointer;
     margin-bottom: 25px;
     transition: 0.5s ease;
 }
 
 button :hover {
     transform: scale(1.1);
 }
 
 a {
     text-decoration: none;
     color: #fff;
     font-weight: bold;
     font-size: 16px;
 }